async-lru
certifi
charset-normalizer==3.4.1
idna
mutagen
pyaes
pycryptodome
pyrogram
pyrofork
pyromod
PySocks
python-dotenv
python-telegram-bot
requests
soupsieve
TgCrypto
urllib3
websockets
yt-dlp
motor
pytz
aiohttp
aiofiles
pillow
m3u8
speedtest-cli
Flask
gunicorn
Jinja2
werkzeug
itsdangerous
cloudscraper
cryptography
PyJWT
sqlalchemy
pyopenssl
wget
bs4
beautifulsoup4
reportlab
pytube
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
ffmpeg-python
aiofiles
aiohttp
async-lru
beautifulsoup4
charset-normalizer==3.4.1
cloudscraper
ffmpeg-python
flask
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gunicorn
m3u8
motor
mutagen
pillow
pyaes
pycryptodome
PyJWT
pyopenssl
pyrofork
pyrogram
pyromod
PySocks
python-dotenv
python-telegram-bot
pytube
pytz
reportlab
requests
speedtest-cli
sqlalchemy
TgCrypto
websockets
wget
yt-dlp
